<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gamesdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--       <property name="hibernate.show_sql">true</property>   -->

        <!-- Annotated POJOs -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.example.onlinegamingsite.pojo.User"/>
        <mapping class="com.example.onlinegamingsite.pojo.Games"/>
        <mapping class="com.example.onlinegamingsite.pojo.Genre"/>
        <mapping class="com.example.onlinegamingsite.pojo.PlacedOrder"/>
    </session-factory>
</hibernate-configuration>